In [1]:
import pandas as pd

In [2]:
file = '/Users/HANCHU/swimming_sis/upuhupuh/fulldata_10_35_01_P.csv'

In [3]:
df = pd.read_csv(file, encoding='cp949')

In [4]:
df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명,Unnamed: 37
0,1,수영장업,10_35_01_P,4490000,CDFH3301012002000002,2002-07-04,NaN,2,휴업,2,...,수영장업,사립,NaN,0.0,0.0,3635.00,0.0,NaN,NaN,NaN
1,2,수영장업,10_35_01_P,4490000,CDFH3301012015000001,2015-03-20,NaN,2,휴업,2,...,수영장업,사립,Y,2.0,1.0,8130.34,0.0,NaN,NaN,NaN
2,3,수영장업,10_35_01_P,5060000,CDFH3301012003000002,2003-02-21,NaN,2,휴업,2,...,수영장업,사립,0,NaN,NaN,444.00,NaN,NaN,NaN,NaN
3,4,수영장업,10_35_01_P,5050000,CDFH3301012001000001,2001-10-26,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,수영장업,10_35_01_P,5050000,CDFH3301012003000002,2003-12-20,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659,1660,수영장업,10_35_01_P,4050000,CDFH3301012006000003,2006-12-13,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1660,1661,수영장업,10_35_01_P,3100000,CDFH3301012004000001,2004-03-08,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1661,1662,수영장업,10_35_01_P,3160000,CDFH3301012003000001,2003-09-01,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,1275.00,NaN,NaN,NaN,NaN
1662,1663,수영장업,10_35_01_P,3220000,CDFH3301012000000001,2000-11-10,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663,1664,수영장업,10_35_01_P,5570000,CDFH3301012008000001,2008-07-21,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,2999.60,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           1664 non-null   int64
 1   개방서비스명       1664 non-null   object
 2   개방서비스아이디     1664 non-null   object
 3   개방자치단체코드     1664 non-null   int64
 4   관리번호         1664 non-null   object
 5   인허가일자        1664 non-null   object
 6   인허가취소일자      12 non-null     object
 7   영업상태구분코드     1664 non-null   int64
 8   영업상태명        1664 non-null   object
 9   상세영업상태코드     1664 non-null   int64
 10  상세영업상태명      1664 non-null   object
 11  폐업일자         674 non-null    object
 12  휴업시작일자       64 non-null     object
 13  휴업종료일자       63 non-null     object
 14  재개업일자        0 non-null      float64
 15  소재지전화        1337 non-null   object
 16  소재지면적        0 non-null      float64
 17  소재지우편번호      896 non-null    object
 18  소재지전체주소      1630 non-null   object
 19  도로명전체주소      1487 non-null   object
 20  도로명우편번호      1126 non-null   object
 21  사업장명         1664 non-null   object
 22  최종수정시점       1664 non-null   object
 23  데이터갱신구분      1664 non-null   object
 24  데이터갱신일자      1664 non-null   object
 25  업태구분명        0 non-null      float64
 26  좌표정보(x)      1571 non-null   float64
 27  좌표정보(y)      1571 non-null   float64
 28  문화체육업종명      1664 non-null   object
 29  공사립구분명       1664 non-null   object
 30  보험가입여부코드     859 non-null    object
 31  지도자수         972 non-null    float64
 32  건축물동수        656 non-null    float64
 33  건축물연면적       988 non-null    float64
 34  회원모집총인원      517 non-null    float64
 35  세부업종명        0 non-null      float64
 36  법인명          0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
dtypes: float64(12), int64(4), object(22)
memory usage: 494.1+ KB

In [6]:
df.isnull()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명,Unnamed: 37
0,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,True,True,True
1,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,False,True,True,True,True
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,True,True,True,True,True
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,True,True,True,True,True,True
1660,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,True,True,True,True,True
1661,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,False,True,True,True,True
1662,False,False,False,False,False,False,True,False,False,False,...,False,False,True,True,True,True,True,True,True,True
1663,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,True,False,True,True,True,True

In [7]:
df.drop_duplicates()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명,Unnamed: 37
0,1,수영장업,10_35_01_P,4490000,CDFH3301012002000002,2002-07-04,NaN,2,휴업,2,...,수영장업,사립,NaN,0.0,0.0,3635.00,0.0,NaN,NaN,NaN
1,2,수영장업,10_35_01_P,4490000,CDFH3301012015000001,2015-03-20,NaN,2,휴업,2,...,수영장업,사립,Y,2.0,1.0,8130.34,0.0,NaN,NaN,NaN
2,3,수영장업,10_35_01_P,5060000,CDFH3301012003000002,2003-02-21,NaN,2,휴업,2,...,수영장업,사립,0,NaN,NaN,444.00,NaN,NaN,NaN,NaN
3,4,수영장업,10_35_01_P,5050000,CDFH3301012001000001,2001-10-26,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,수영장업,10_35_01_P,5050000,CDFH3301012003000002,2003-12-20,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659,1660,수영장업,10_35_01_P,4050000,CDFH3301012006000003,2006-12-13,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1660,1661,수영장업,10_35_01_P,3100000,CDFH3301012004000001,2004-03-08,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1661,1662,수영장업,10_35_01_P,3160000,CDFH3301012003000001,2003-09-01,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,1275.00,NaN,NaN,NaN,NaN
1662,1663,수영장업,10_35_01_P,3220000,CDFH3301012000000001,2000-11-10,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663,1664,수영장업,10_35_01_P,5570000,CDFH3301012008000001,2008-07-21,NaN,4,취소/말소/만료/정지/중지,35,...,수영장업,사립,Y,NaN,NaN,2999.60,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           1664 non-null   int64
 1   개방서비스명       1664 non-null   object
 2   개방서비스아이디     1664 non-null   object
 3   개방자치단체코드     1664 non-null   int64
 4   관리번호         1664 non-null   object
 5   인허가일자        1664 non-null   object
 6   인허가취소일자      12 non-null     object
 7   영업상태구분코드     1664 non-null   int64
 8   영업상태명        1664 non-null   object
 9   상세영업상태코드     1664 non-null   int64
 10  상세영업상태명      1664 non-null   object
 11  폐업일자         674 non-null    object
 12  휴업시작일자       64 non-null     object
 13  휴업종료일자       63 non-null     object
 14  재개업일자        0 non-null      float64
 15  소재지전화        1337 non-null   object
 16  소재지면적        0 non-null      float64
 17  소재지우편번호      896 non-null    object
 18  소재지전체주소      1630 non-null   object
 19  도로명전체주소      1487 non-null   object
 20  도로명우편번호      1126 non-null   object
 21  사업장명         1664 non-null   object
 22  최종수정시점       1664 non-null   object
 23  데이터갱신구분      1664 non-null   object
 24  데이터갱신일자      1664 non-null   object
 25  업태구분명        0 non-null      float64
 26  좌표정보(x)      1571 non-null   float64
 27  좌표정보(y)      1571 non-null   float64
 28  문화체육업종명      1664 non-null   object
 29  공사립구분명       1664 non-null   object
 30  보험가입여부코드     859 non-null    object
 31  지도자수         972 non-null    float64
 32  건축물동수        656 non-null    float64
 33  건축물연면적       988 non-null    float64
 34  회원모집총인원      517 non-null    float64
 35  세부업종명        0 non-null      float64
 36  법인명          0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
dtypes: float64(12), int64(4), object(22)
memory usage: 494.1+ KB

In [9]:
df.head(10)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명,Unnamed: 37
0,1,수영장업,10_35_01_P,4490000,CDFH3301012002000002,2002-07-04,NaN,2,휴업,2,...,수영장업,사립,NaN,0.0,0.0,3635.00,0.0,NaN,NaN,NaN
1,2,수영장업,10_35_01_P,4490000,CDFH3301012015000001,2015-03-20,NaN,2,휴업,2,...,수영장업,사립,Y,2.0,1.0,8130.34,0.0,NaN,NaN,NaN
2,3,수영장업,10_35_01_P,5060000,CDFH3301012003000002,2003-02-21,NaN,2,휴업,2,...,수영장업,사립,0,NaN,NaN,444.00,NaN,NaN,NaN,NaN
3,4,수영장업,10_35_01_P,5050000,CDFH3301012001000001,2001-10-26,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,수영장업,10_35_01_P,5050000,CDFH3301012003000002,2003-12-20,NaN,2,휴업,2,...,수영장업,사립,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,수영장업,10_35_01_P,5340000,CDFH3301012016000001,2016-06-28,NaN,2,휴업,2,...,수영장업,사립,NaN,0.0,0.0,0.00,0.0,NaN,NaN,NaN
6,7,수영장업,10_35_01_P,4910000,CDFH3301012005000001,2005-08-05,NaN,2,휴업,2,...,수영장업,사립,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,수영장업,10_35_01_P,4670000,CDFH3301012005000001,2005-02-19,NaN,2,휴업,2,...,수영장업,사립,0,NaN,1.0,1097.10,NaN,NaN,NaN,NaN
8,9,수영장업,10_35_01_P,6520000,CDFH3301012015000001,2015-07-12,NaN,2,휴업,2,...,수영장업,사립,Y,1.0,1.0,14380.52,NaN,NaN,NaN,NaN
9,10,수영장업,10_35_01_P,5600000,CDFH3301011990000001,1990-01-13,NaN,2,휴업,2,...,수영장업,사립,0,0.0,0.0,0.00,0.0,NaN,NaN,NaN

In [10]:
df_sample = df.iloc[:,[7, 8, 15, 18, 19, 21, 26, 27, 29]]
df_sample.head(5)

,영업상태구분코드,영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),공사립구분명
0,2,휴업,041-560-9114,충청남도 천안시 동남구 수신면 장산리 669-1,충청남도 천안시 동남구 수신면 수신로 576 (상록리조트),상록수영장,225693.408769,359978.556736,사립
1,2,휴업,577-2090,충청남도 천안시 동남구 안서동 211,충청남도 천안시 동남구 성불사길 36 (안서동),(주)홍익힐링센터,216807.307340,369696.353430,사립
2,2,휴업,433-9475,경상북도 김천시 봉산면 태화리 483번지,경상북도 김천시 봉산면 영남대로 734,둥굴관광농원수영장,292217.588046,294393.746691,사립
3,2,휴업,NaN,경상북도 경주시 북군동 11-1번지,경상북도 경주시 보문로 182-29 (북군동),(주)이랜드파크켄싱턴리조트경주실외수영장,404841.798100,264595.723083,사립
4,2,휴업,054-744-1199,경상북도 경주시 신평동 601-19번지,경상북도 경주시 보문로 365 (신평동),일성경주보문콘도실내수영장,406006.834844,263329.635881,사립

In [11]:
df_subset = df_sample[df['영업상태명']=='영업/정상']
df_subset.head(5)

,영업상태구분코드,영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),공사립구분명
661,1,영업/정상,986-5012,대구광역시 동구 방촌동 1047,"대구광역시 동구 동촌로 168 (방촌동, 대구동촌초등학교)",동촌아쿠아수영장,349670.669719,265952.526820,사립
662,1,영업/정상,053-572-2451,대구광역시 서구 이현동 48-8,대구광역시 서구 문화로 122 (이현동),서구청소년수련관,339527.335473,264811.114119,사립
663,1,영업/정상,042-820-0722,대전광역시 유성구 봉명동 443-1,대전광역시 유성구 온천로 9 (봉명동),유성호텔실내수영장,230306.862971,317342.346429,사립
664,1,영업/정상,716-3000,대전광역시 대덕구 목상동 871번지,대전광역시 대덕구 대덕대로1486번길 101 (목상동),대덕국민체육센터수영장,236993.567015,327258.245009,사립
665,1,영업/정상,NaN,대전광역시 대덕구 석봉동 780번지,대전광역시 대덕구 대덕대로1527번길 200 (석봉동),금강로하스산호빛공원 야외수영장,237654.279171,328166.329394,사립

In [12]:
df_subset['홈페이지링크']= df_subset['사업장명']+'link'

/var/folders/_1/ryhz_nds7c71jhflnvglc22h0000gn/T/ipykernel_12462/3561261987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['홈페이지링크']= df_subset['사업장명']+'link'

In [13]:
df_subset = df_subset.drop('영업상태명',axis=1)
df_subset.head(5)

,영업상태구분코드,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),공사립구분명,홈페이지링크
661,1,986-5012,대구광역시 동구 방촌동 1047,"대구광역시 동구 동촌로 168 (방촌동, 대구동촌초등학교)",동촌아쿠아수영장,349670.669719,265952.526820,사립,동촌아쿠아수영장link
662,1,053-572-2451,대구광역시 서구 이현동 48-8,대구광역시 서구 문화로 122 (이현동),서구청소년수련관,339527.335473,264811.114119,사립,서구청소년수련관link
663,1,042-820-0722,대전광역시 유성구 봉명동 443-1,대전광역시 유성구 온천로 9 (봉명동),유성호텔실내수영장,230306.862971,317342.346429,사립,유성호텔실내수영장link
664,1,716-3000,대전광역시 대덕구 목상동 871번지,대전광역시 대덕구 대덕대로1486번길 101 (목상동),대덕국민체육센터수영장,236993.567015,327258.245009,사립,대덕국민체육센터수영장link
665,1,NaN,대전광역시 대덕구 석봉동 780번지,대전광역시 대덕구 대덕대로1527번길 200 (석봉동),금강로하스산호빛공원 야외수영장,237654.279171,328166.329394,사립,금강로하스산호빛공원 야외수영장link

In [14]:
df_subset = df_subset.drop('공사립구분명',axis=1)
df_subset.head(5)

,영업상태구분코드,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),홈페이지링크
661,1,986-5012,대구광역시 동구 방촌동 1047,"대구광역시 동구 동촌로 168 (방촌동, 대구동촌초등학교)",동촌아쿠아수영장,349670.669719,265952.526820,동촌아쿠아수영장link
662,1,053-572-2451,대구광역시 서구 이현동 48-8,대구광역시 서구 문화로 122 (이현동),서구청소년수련관,339527.335473,264811.114119,서구청소년수련관link
663,1,042-820-0722,대전광역시 유성구 봉명동 443-1,대전광역시 유성구 온천로 9 (봉명동),유성호텔실내수영장,230306.862971,317342.346429,유성호텔실내수영장link
664,1,716-3000,대전광역시 대덕구 목상동 871번지,대전광역시 대덕구 대덕대로1486번길 101 (목상동),대덕국민체육센터수영장,236993.567015,327258.245009,대덕국민체육센터수영장link
665,1,NaN,대전광역시 대덕구 석봉동 780번지,대전광역시 대덕구 대덕대로1527번길 200 (석봉동),금강로하스산호빛공원 야외수영장,237654.279171,328166.329394,금강로하스산호빛공원 야외수영장link

In [15]:
idx = df_subset[~df_subset['사업장명'].str.contains('호텔')]

In [16]:
idx = idx[~idx['사업장명'].str.contains('리조트')]

In [17]:
idx = idx[~idx['사업장명'].str.contains('차일드')]

In [18]:
idx = idx[~idx['사업장명'].str.contains('키즈')]

In [19]:
idx = idx[~idx['사업장명'].str.contains('어린이')]

In [20]:
idx = idx[~idx['사업장명'].str.contains('야외')]

In [21]:
idx = idx[~idx['사업장명'].str.contains('실외')]

In [22]:
idx = idx[~idx['사업장명'].str.contains('옥외')]

In [23]:
idx = idx[~idx['사업장명'].str.contains('콘도')]

In [24]:
idx = idx[~idx['사업장명'].str.contains('인피니티')]

In [25]:
idx = idx[~idx['사업장명'].str.contains('워터파크')]

In [26]:
idx = idx[~idx['사업장명'].str.contains('스파')]

In [27]:
idx.sort_values(by=['도로명전체주소'], inplace=True)

In [28]:
idx.reset_index(drop=True)

,영업상태구분코드,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),홈페이지링크
0,1,033-651-4551,강원특별자치도 강릉시 포남동 산 90-1 강릉아레나,"강원특별자치도 강릉시 수리골길 102, 강릉아레나 (포남동)",아레나 수영장,NaN,NaN,아레나 수영장link
1,1,033-640-4550,강원특별자치도 강릉시 교동 458-1,강원특별자치도 강릉시 수리골길 76 (교동),강릉국민체육센터,367074.905017,476610.965475,강릉국민체육센터link
2,1,033-662-0972,강원특별자치도 강릉시 주문진읍 교항리 48-160,강원특별자치도 강릉시 주문진읍 연주로 272,북부 수영장,361194.329232,487596.286623,북부 수영장link
3,1,033-655-6565,강원특별자치도 강릉시 박월동 448-1,강원특별자치도 강릉시 칠성로 491 (박월동),강릉수영장,368617.649543,471539.440735,강릉수영장link
4,1,033-820-7325,강원특별자치도 강릉시 안현동 89-87 라카이샌드파인,"강원특별자치도 강릉시 해안로 536, 라카이샌드파인 (안현동)",더 라니 풀 ＆ 사우나,367621.813149,479943.433565,더 라니 풀 ＆ 사우나link
...,...,...,...,...,...,...,...,...
580,1,NaN,서울특별시 중구 순화동 2-6번지,NaN,중앙일보교육사업단(중앙문화센터),197395.761334,451285.616478,중앙일보교육사업단(중앙문화센터)link
581,1,NaN,서울특별시 중구 흥인동 13-1번지,NaN,뉴)월드스포랜드,201442.039019,451619.845549,뉴)월드스포랜드link
582,1,739-0283,서울특별시 중구 정동 1-76번지,NaN,서울덕수초교 수영장,197681.953859,451807.073619,서울덕수초교 수영장link
583,1,064-793-9007,제주특별자치도 서귀포시 안덕면 광평리 25-1,NaN,씨제이대한통운(주)클럽나인브릿지,143641.119748,-17474.689715,씨제이대한통운(주)클럽나인브릿지link
584,1,903-7111,서울특별시 도봉구 창동 804번지 대우@상가 3층,NaN,대우스포츠센터,203242.968499,460001.081137,대우스포츠센터link

In [29]:
idx.head(5)

,영업상태구분코드,소재지전화,소재지전체주소,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),홈페이지링크
1000,1,033-651-4551,강원특별자치도 강릉시 포남동 산 90-1 강릉아레나,"강원특별자치도 강릉시 수리골길 102, 강릉아레나 (포남동)",아레나 수영장,NaN,NaN,아레나 수영장link
991,1,033-640-4550,강원특별자치도 강릉시 교동 458-1,강원특별자치도 강릉시 수리골길 76 (교동),강릉국민체육센터,367074.905017,476610.965475,강릉국민체육센터link
999,1,033-662-0972,강원특별자치도 강릉시 주문진읍 교항리 48-160,강원특별자치도 강릉시 주문진읍 연주로 272,북부 수영장,361194.329232,487596.286623,북부 수영장link
990,1,033-655-6565,강원특별자치도 강릉시 박월동 448-1,강원특별자치도 강릉시 칠성로 491 (박월동),강릉수영장,368617.649543,471539.440735,강릉수영장link
805,1,033-820-7325,강원특별자치도 강릉시 안현동 89-87 라카이샌드파인,"강원특별자치도 강릉시 해안로 536, 라카이샌드파인 (안현동)",더 라니 풀 ＆ 사우나,367621.813149,479943.433565,더 라니 풀 ＆ 사우나link

In [30]:
idx.to_excel(
    excel_writer = '/Users/HANCHU/swimming_sis/upuhupuh/pooldata_idx_swimming.xlsx',
    sheet_name = '수영장업 정보'
)